.h2T{
    border:2px solid var(--m-red);
border-radius:10px;
margin-bottom:0.5rem;
margin-top:1rem;
  }
 
  .rulesection2{
width:80%;
margin:0 auto 3rem auto;
line-height:1.5;
border: 2px solid var(--m-green);
    border-radius: 10px;
    text-align:center;
    background-color:var(--m-light-gray);
    padding-left:2rem;
    padding-right:2rem;
    padding-top:1rem;
  }
  
  .titleH{
    margin:5rem;
    text-align:center;
  }
  li{
    line-height:2;
    text-align:left;
  }
  #youtube{
    display:flex;
    justify-content: center;
    align-items:center;
    
  }