:root {
    --m-light-gray: rgb(243, 243, 243);
    --m-red:rgb(155,35,37);
    --m-green:rgb(36, 78, 41);
  }
.titleH{
    margin:5rem;
    text-align:center;
  }
  .h2T2{
    border:2px solid var(--m-red);
border-radius:10px;
padding:1.2rem;
background-color:white;
  }
  .h2T2:hover{
    background-color:var(--m-red);
    color:white;
    cursor:default;
    border:2px solid var(--m-light-gray);
  }
  #counters{
    display:flex;
    justify-content: center;
    gap:5rem;
  }
  .centeredd{
    display:flex;
    justify-content: center;

  }
  .card-image{
    width:150px;
    height:auto;
  }
  .cardContainers{
display:flex;
justify-content: center;
gap:0.5rem;
padding:2rem;
  }
  .cardContainers2{
    display:flex;
    justify-content: center;
    gap:0.5rem;
    padding:0rem;
      }

  .gameResult{
    display:flex;
    justify-content:center;
    font-size:larger;
    margin-top:1rem;
    padding:0.5rem;
    font-weight:bold;
    text-align:center;
  }
  .gameResultBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (width< 760px) {
    .cardContainers{
      flex-direction:column;
      justify-content: center;
      align-items: center;

    }
    .cardContainers2{
      flex-direction:column;
      justify-content: center;
      align-items: center;

    }
  }
      
  .blackJack{
    font-size:70px;
  }