:root {
    --m-light-gray: rgb(243, 243, 243);
    --m-red:rgb(155,35,37);
  }
#playing-cards-img{
    max-width:2.2rem;
    max-height:2.2rem;
   
}
a {
    text-decoration:none;
    color:black;
  }
  .hover:hover{
    color:var(--m-red);
  }
#cards-nav-circ{
    background-color:var(--m-light-gray);
    width:3.5rem;
    height:3.5rem;
    display:flex;
    justify-content: center;
    gap:1rem;
    align-items: center;
    border-radius: 100%;
}
body{
    font-family:'Metamorphous', sans-serif;
}
#main-nav{
    display:flex;
    background-color:var(--m-light-gray);
    border-radius: 10px;
    height:3rem;
    width:50%;
    justify-content: center;
    align-items: center;
    gap:4rem;

}
nav{
    display:flex;
    justify-content: center;
    gap:3rem;
    align-items:center;
    margin-top:30px;
}
@media (width< 950px) {
  .hidden{
    display:none;
  }
}
  @media (width< 380px) {
    .hidden1{
      display:none;
    }
   @media(max-width: 950px) and (min-width: 380px){
    .hidden2{
      display:none;
    }
   }
    
  
}