p,li,button {
    font-family: 'Aleo', sans-serif; 
  }
h1,h2,h3{
    font-family:'Metamorphous', sans-serif;
}

  body{
    background-color:#FFFAFA;
    background-image:url('./images/backround.jpg');
  }
  *{
    margin:0;
    box-sizing:border-box;
}
footer{
  text-align:center;
  background-color:var(--m-light-gray);
  border-radius: 20% 20% 0 0 ;
  padding:2rem;
}